:root {
  --font-base: 'Roboto Slab', sans-serif;
}

body {
  font-family: var(--font-base);
}

.app {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.col {
  flex-basis: 33%;
}

.state-view {
  width: 100%;
}

header h1 {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  text-align: center;
}
